div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
    margin: auto;
}
table{
    padding: 12px;
    background-color: antiquewhite;
}
label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.file-input-container {
    margin: -20px;
    display: inline-block;
}

.custom-file-input {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

#fileinput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

th, td {
    text-align: center;
    border: 1px solid black; 
    min-width: 50px;
    max-width: 50px;
    min-height: 23px;
    max-height: 23px;
    background-color: aliceblue;
}
th{
    font-size: larger;
    font-style:italic;
    font-weight: bold;
    background-color: aqua;
}
.weekdays{
    background-color: beige;
    font-size: medium;
    font-style:italic;
    font-weight: bold;
    padding: auto;
}
.sunday
{
    color: red;
    background-color: rgb(249, 202, 202);
}

@media screen and (max-width: 600px) {
    div{
        padding: 10px;
    }
    th,td{
        font-size: small;
        padding: 6px;
    }
}
@media screen and (min-width: 601px)and(max-width:1024px){
    div{
        padding: 15px;
    }
    th,td{
        font-size: large;
        padding: 8px;
    }
}
@media screen and (min-width: 1024px) {
    div{
        padding: 20px;
    }
    th,td{
        font-size: larger;
        padding: auto;
    }
}